<div class="container">
    <h1>Answer</h1>
    <h4>Question: <strong><%= question %></strong></h4>

    <pre class="body" style="height: 300px; resize: vertical;"><%= var a = JSON.stringify(answerText, ["question", "evidencelist", "value", "title", "text"], 4);
		for (var i = 0; i < a.length; i++){%>
		<p><%=
			a[i][1], a[i][2]%>
			</p><%=
			
		}
	
	%></pre>

</div>
<script>

</script>