<div class="container">
    <h1>Answer</h1>
    <h4>Question: <strong><%= question %></strong></h4>

    <pre class="body" style="height: 300px; resize: vertical;"><%= JSON.stringify(answerText, ["question", "evidencelist", "value", "title", "text"], 4)%></pre>
</div>
<% 
	alert('hello world');

%>