<div class="container">
    <h1>Simple QA</h1>
    <p>Ask Watson a question regarding Health + Wellness... </p>
    <form method="POST" action="/question" class="">
        <div class="form-group">
            <input type="text" name="questionText" class="form-control" id="questionText" placeholder="What do you want to know?">
        </div>
        <input type="submit" value="Ask Watson!" class="btn btn-primary" />
    </form>
</div>